
*
{
    font-family: Arial;
}
.Div_Principal
{
    display: flex;
    width: 60%;
    height: complex;

}
.imgLogo
{
    display: flex;
    height: 100px;

}
.Sec_log_info
{
    margin-left: 50px;
    width: 100%;
    height: available;
}

#btnRegistrar
{
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 80px;
  height: 13px;
  cursor: pointer;
  margin: 0 4px 0 0;
  padding: 6px 20px 10px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal normal bold 16px/normal Arial, Helvetica, sans-serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #0199d9;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

#btnAtras
{
      display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 40px;
  height: 13px;
  cursor: pointer;
  margin: 0 -4px 0 0;
  padding: 6px 20px 10px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal normal bold 16px/normal Arial, Helvetica, sans-serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #6b6b6b;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}


.frmLogin
{

    margin-top: 10%;
    float: left;
    height: 340px;
    width: 70%;
    border-style: solid;
    border-color: rgba(0, 0, 0, .30);
    background-color: rgba(255, 255, 255, .15);
    border-radius: 4%;
    font-size: 120%;
    align-items: center;
    justify-content: center;

}
.infoLogin
{
    float: right;
    width: 40%;
    height: ;
    
    background-color: rgba(0, 0, 0, .7);
    color: white;
    padding-left: 3%;
}
body
{
    background-image: url('../Imagenes/stethoscope-3457519_1920.jpg');
    background-size: cover;
    height:100%;
    margin:0;
    display: flex;
    flex-direction: column;
    flex-direction: row;
}
p
{
    text-align:center;
}
table
{
    width: 90%;
    height: 200px;
    margin-left: 10px;
}
table thead
{
    text-align: left;
    background-color: #d6d6d6;
}

table thead tr th span button:hover
{
    background-color: #007b93;
}

tbody tr td
{
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

tbody tr td > span
{
    font-size: 14px;
    font-weight: 200;
}

.btnAccion
{
     display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 100px;
  height: 13px;
  cursor: pointer;
  margin: 0 5px 0 0;
  padding: 6px 20px 10px;
  border: 1px solid #018dc4;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font: normal normal bold 16px/normal Arial, Helvetica, sans-serif;
  color: rgba(255,255,255,0.9);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #474747;
  -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
  text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
  -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}